.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    font-family: sans-serif;
  }

  .formContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 12px;
    padding: 24px;
    width: 500px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    box-sizing: border-box;
    transition: width 0.3s ease, height 0.3s ease;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 499;
  }
  
  
  .button {
    width: 80%;
    padding: 10px;
    margin: 15px 0;
    background-color: #e0e0e0;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
  }
  .button:hover {
    background-color: #bdbdbd; 
  }
  
  .socialButton {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .socialButton img {
    width: 20px;
    height: 20px;
  }
  .socialButton:hover {
    background-color: #e0e0e0; 
  }

  .input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;      
    font-size: 14px;
    outline: none;          
    background-color: white; 
    color: #333;
    box-sizing: border-box;
    margin-bottom: 10px;
    transition: border-color 0.3s;
  }
  
  .input:focus {
    border-color: #888; 
  }