.shelter-profile {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .shelter-info {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    background-color: rgb(249, 249, 249);
    padding: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .donat-div {
    padding: 20px;
    background-color: rgb(249, 249, 249);
  }
  .description2 {
    padding-right: 300px;
  }
  .donat-btn {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .btn {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFD294;
    border-radius: 10px;
  }
  .btn:hover {
    background-color: #dab37e;
  }
  .donat-div h2 {
    font-size: large;
    margin-bottom: 10px;
  }
  .shelter-photo {
    width: 300px;
    height: 200px;
    border-radius: 10%;
    object-fit: cover;
  }
  .shelter-name {
    font-size: 28px;
  }
  .shelter-name-div {
    justify-content: center;
    display: flex;
  }
  .rating-div {
    position: relative;
    right: -20%;
    display: flex;
  }
  .rating-num {
    font-size: 24px;
  }
  .rating-icon {
    width: 40px;
    height: 40px;
  }
  .animals-amount-div {
    display: flex;
    gap: 60px;
    margin-bottom: 20px;
  }
  .shelter-details ul {
    list-style: none;
    padding: 0;
    margin: 5px 0;
  }
  
  .shelter-ads h3 {
    margin-bottom: 10px;
  }
  .shelter-ads {
    background-color: rgb(249, 249, 249);
    padding: 20px;
  }
  
  .ads-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
  }
  
  .ad-card {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  }
  
  .ad-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .ad-info {
    padding: 10px;
  }
  .shelter-reviews {
    background-color: rgb(249, 249, 249);
    padding: 20px;
    border-radius: 12px;
  }
  .shelter-reviews h3 {
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .reviews-list {
    margin-bottom: 20px;
  }
  .review-form {
    margin-top: 40px;
    padding: 20px;
    border: 2px solid #eee;
    border-radius: 12px;
    background-color: #f9f9f9;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .review-form textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 12px;
  }
  .review-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #E4E3E3;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .review-form button:hover {
    background-color: #c9c9c9;
  }  