.animal-form {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .animal-form h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .animal-form label {
    font-weight: bold;
  }
  
  .animal-form input,
  .animal-form select,
  .animal-form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }
  
  .accept {
    margin-top: 10px;
    padding: 10px;
    background-color: #00a67e;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  .reject {
    margin-top: 10px;
    padding: 10px;
    background-color: #7a1d1d;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .accept:hover {
    background-color: #008e6c;
  }
  .reject:hover {
    background-color: #460d0d;
  }